<div class="text-right" id="layout-switch" data-reflex-root="#layout-switch,#folder">
  <div class="btn-group" role="group" aria-label="Layout Switch">
    <button type="button" data-reflex="click->LayoutSwitchComponentReflex#set_layout" data-layout="list" class="btn btn-<%= button_class('list') %>">
      <i class="fa fa-list"></i>
    </button>
    <button type="button" data-reflex="click->LayoutSwitchComponentReflex#set_layout" data-layout="grid-small" class="btn btn-<%= button_class('grid-small') %>">
      <i class="fa fa-th"></i>
    </button>
    <button type="button" data-reflex="click->LayoutSwitchComponentReflex#set_layout" data-layout="grid" class="btn btn-<%= button_class('grid') %>">
      <i class="fa fa-th-large"></i>
    </button>
  </div>
</div>
