<div class="p-5 mt-4 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5 text-center">
    <i class="fa fa-folder-open fa-4x"></i><br/><br/>
    <p class="lead">This folder is empty</p>
  </div>
</div>
