<div class="mt-3">
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center text-muted">
      <i class="fa fa-folder-open fa-4x"></i><br/><br/>
      <p class="lead">This folder is empty</p>
    </div>
  </div>
</div>
