<li class="list-item folder-list-item list-group-item folder-item">
  <div class="row">
    <div class="col-auto select">
      <i class="far fa-square" style="line-height: 30px"></i>
    </div>
    <div class="col-auto icon">
      <i class="fa fa-folder fa-2x text-info"></i>
    </div>
    <div class="col name folder-name">
      <div class="skeleton">&nbsp;</div>
    </div>
    <div class="col d-none d-sm-block text-muted">
      <div class="skeleton">&nbsp;</div>
    </div>
    <div class="col-auto actions">
      <i class="fa fa-trash btn btn-light"></i>
      <span>
        <i class="fa fa-pen btn btn-light"></i>
      </span>
    </div>
  </div>
</li>
