<div class="col-md-3 col-sm-4 col-6 mb-4 text-center">
  <div class="p-4 card document-item" draggable="true">
    <i class="fa fa-file fa-3x" style="color: #d3d3d3"></i><br/>
    <%= document.name %>
  </div>
</div>
