<div id="<%= dom_id(document) %>" class="grid-item document-grid-item <%= grid_item_classes(@layout) %> mt-4 text-center">
  <%= link_to document do %>
    <div class="p-4 card document-item" draggable="true">
        <i class="fa fa-file fa-3x text-secondary"></i><br/>
        <div class="name document-name">
          <%= document %>
        </div>
    </div>
  <% end %>
</div>
