<%= render partial: 'breadcrumb', locals: { document: @document } %>

<div class="container bg-light text-center" style="padding: 100px; cursor: pointer" data-reflex="click->DocumentReflex#edit" data-document-id="<%= @document.id %>">
  <i class="fa fa-file fa-5x text-muted"></i><br/><br/>

  <% if @editing_document %>
    <form class="col-md-6 offset-md-3" data-reflex="submit->DocumentReflex#finish" data-reflex-dataset="ancestors">
      <input
        class="form-control text-center"
        data-reflex="keyup->DocumentReflex#change_name"
        value="<%= @document.name %>"
        data-reflex-dataset="ancestors"
      >
      <button class="btn btn-primary form-control mt-3">Done</button>
    </form>
  <% else %>
    <h4 class="text-muted"><%= @document.name %></h4>
    <h6><small class="text-muted">Click to rename</small></h6>
  <% end %>
</div>
