<%= render partial: 'home/breadcrumb', locals: { document: @document } %>

<div class="container bg-light text-center" style="padding: 100px">
  <i class="fa fa-file fa-5x text-muted"></i><br/><br/>
  <h4 class="text-muted"><%= @document.name %></h4>
</div>
