$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

$primary: #44449b;
$secondary: lightgrey;
$success: #4fcb4a;
$info: #9ecdfa;

$breadcrumb-divider: quote(">");

@import 'bootstrap/scss/bootstrap';
