<% document ||= nil %>
<% folder ||= document&.folder %>
<% parents = get_items_of_folder(folder) %>

<nav aria-label="breadcrumb" class="bg-light rounded">
  <ol class="breadcrumb p-3">
    <li class="breadcrumb-item">
      <%= link_to "Home", root_path %>
    </li>

    <% parents.each do |folder| %>
      <li class="breadcrumb-item">
        <%= link_to folder.name, folder %>
      </li>
    <% end %>

    <% if document %>
      <li class="breadcrumb-item">
        <%= document.name %>
      </li>
    <% end %>
  </ol>
</nav><br>
