<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Create</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" data-folder-id="<%= current_folder&.id %>" data-reflex-root="#folder" data-reflex="click->FolderReflex#sample"><i class="fa fa-folder-plus"></i> Create Folder</a>
    <a class="dropdown-item" data-folder-id="<%= current_folder&.id %>" data-reflex-root="#folder" data-reflex="click->DocumentReflex#sample"><i class="fa fa-file-medical"></i> Create Document</a>
  </div>
</div>
