<div class="text-end" id="layout-switch" data-reflex-root="#layout-switch,#folder">
  <div class="btn-group" role="group">
    <%= layout_button('list', layout, 'list') %>
    <%= layout_button('grid-small', layout, 'th') %>
    <%= layout_button('grid', layout, 'th-large') %>
  </div>
</div>
